


.App-header {
  
  background: rgb(99,177,68);background: -moz-linear-gradient(90deg, rgba(99,177,68,0.4819466307923034) 0%, rgba(252,255,1,0.18367348136482653) 100%);background: -webkit-linear-gradient(90deg, rgba(99,177,68,0.4819466307923034) 0%, rgba(252,255,1,0.18367348136482653) 100%);background: linear-gradient(90deg, rgba(99,177,68,0.4819466307923034) 0%, rgba(252,255,1,0.18367348136482653) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#63b144",endColorstr="#fcff01",GradientType=1);
  animation: gradient 15s ease infinite;
 
}




@media (min-height:500px){
  .cardParent{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    column-gap: 1rem;

  }
}


@keyframes gradient{
  0%{
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100%{
    background-position: 0% 50%;
  }
}
